kajuju-automation/apps/n8n-workflows/workflow3.json
{
  "name": "QA Job Alert Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "node-01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 420]
    },
    {
      "parameters": {
        "url": "https://weworkremotely.com/remote-jobs.rss",
        "options": {}
      },
      "id": "node-02",
      "name": "RSS Feed - WeWorkRemotely",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 60]
    },
    {
      "parameters": {
        "url": "https://himalayas.app/jobs/rss",
        "options": {}
      },
      "id": "node-03",
      "name": "RSS Feed - Himalayas",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://remotive.com/api/remote-jobs?category=qa",
        "options": {}
      },
      "id": "node-04",
      "name": "HTTP Request - Remotive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 340]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000;\nreturn $input.all()\n  .filter(item => {\n    const pub = item.json.pubDate;\n    if (!pub) return true;\n    return new Date(pub).getTime() >= cutoff;\n  })\n  .map(item => {\n    const raw = (item.json.title || '').trim();\n    const colonIdx = raw.indexOf(':');\n    let company = '', title = '';\n    if (colonIdx > -1) {\n      company = raw.substring(0, colonIdx).trim();\n      title = raw.substring(colonIdx + 1).trim();\n    } else {\n      title = raw;\n    }\n    return { json: { title, company, url: item.json.link || '', source: 'WeWorkRemotely' } };\n  });"
      },
      "id": "node-08",
      "name": "Normalize - WeWorkRemotely",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 60]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000;\nreturn $input.all()\n  .filter(item => {\n    const pub = item.json.pubDate;\n    if (!pub) return true;\n    return new Date(pub).getTime() >= cutoff;\n  })\n  .map(item => {\n    const raw = (item.json.title || '').trim();\n    const atIdx = raw.lastIndexOf(' at ');\n    let title = raw, company = '';\n    if (atIdx > -1) {\n      title = raw.substring(0, atIdx).trim();\n      company = raw.substring(atIdx + 4).trim();\n    }\n    return { json: { title, company, url: item.json.link || '', source: 'Himalayas' } };\n  });"
      },
      "id": "node-09",
      "name": "Normalize - Himalayas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const cutoff = Date.now() - 7 * 24 * 60 * 60 * 1000;\nconst raw = $input.first().json;\nconst jobs = Array.isArray(raw.jobs) ? raw.jobs : [];\nreturn jobs\n  .filter(job => !!job.title)\n  .filter(job => {\n    if (!job.publication_date) return true;\n    return new Date(job.publication_date).getTime() >= cutoff;\n  })\n  .map(job => ({\n    json: {\n      title: job.title || '',\n      company: job.company_name || '',\n      url: job.url || '',\n      source: 'Remotive'\n    }\n  }));"
      },
      "id": "node-10",
      "name": "Normalize - Remotive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 340]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "node-14",
      "name": "Merge RSS Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [920, 120]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "node-15",
      "name": "Merge API and Remocate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [920, 400]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "node-16",
      "name": "Merge Sitemap Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [920, 680]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "node-17",
      "name": "Merge Group 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1160, 260]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "node-18",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1380, 420]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all().filter(item => !item.json._empty);\nconst qaTerms = ['qa', 'quality', 'test', 'sdet', 'tester', 'automation'];\n\nconst excludeTitleTerms = [\n  'us only', 'usa only', 'united states only', 'united states',\n  'uk only', 'canada only', 'australia only',\n  'latam only', 'latin america only', 'apac only', 'india only',\n  'no sponsorship', 'us work authorization', 'authorized to work in'\n];\n\nconst excludeUrlPatterns = [\n  '/us/', '/usa/', '/united-states/', '/uk/', '/canada/'\n];\n\nconst keepTerms = [\n  'remote', 'worldwide', 'global', 'anywhere', 'international',\n  'emea', 'europe', 'european', 'africa', 'kenya'\n];\n\nconst seen = new Set();\nconst filtered = items.filter(item => {\n  const title = (item.json.title || '').toLowerCase();\n  const url = (item.json.url || '').toLowerCase();\n  if (!title || !item.json.url) return false;\n  if (seen.has(item.json.url)) return false;\n  seen.add(item.json.url);\n\n  const isQA = qaTerms.some(t => title.includes(t));\n  if (!isQA) return false;\n\n  const hasKeepSignal = keepTerms.some(t => title.includes(t));\n  if (hasKeepSignal) return true;\n\n  const isTitleExcluded = excludeTitleTerms.some(t => title.includes(t));\n  if (isTitleExcluded) return false;\n\n  const isUrlExcluded = excludeUrlPatterns.some(p => url.includes(p));\n  if (isUrlExcluded) return false;\n\n  return true;\n});\n\nif (filtered.length === 0) return [{ json: { _empty: true } }];\nreturn filtered.map(item => ({ json: item.json }));"
      },
      "id": "node-19",
      "name": "Filter and Dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 420]
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "node-23",
      "name": "Limit 20 Jobs",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1710, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-title",
              "leftValue": "={{ $json.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-20",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 420]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst jobLines = items.map((item, i) => {\n  const j = item.json;\n  const parts = [(i + 1) + '. ' + j.title];\n  if (j.company) parts.push('   Company: ' + j.company);\n  parts.push('   URL: ' + j.url);\n  parts.push('   Source: ' + j.source);\n  return parts.join('\\n');\n}).join('\\n\\n');\n\nconst prompt = [\n  'You are a job filter for a Senior QA Engineer based in Nairobi, Kenya (UTC+3).',\n  '',\n  'CANDIDATE PROFILE:',\n  '- 10+ years QA experience, fintech and SaaS',\n  '- Tools: Playwright, Cypress, Detox, Postman, SQL, Grafana, GitHub Actions',\n  '- Domains: fintech, payments, digital banking, design tooling',\n  '- Remote-worldwide only \\u2014 no timezone restrictions stated by employer',\n  '',\n  'SCORING \\u2014 score each job 1-3:',\n  '3 = Strong match: senior/lead QA, SDET, automation engineer \\u2014 fintech, SaaS, or payments domain \\u2014 Playwright, Cypress, or Detox mentioned',\n  '2 = Good match: QA engineer role, remote confirmed, any tech domain',\n  '1 = Weak signal only: QA mentioned but role is junior, or domain is hardware/gaming/non-software',\n  '',\n  'RULE: Display ALL jobs regardless of score. Do not drop any job. Score 1 jobs are still shown.',\n  '',\n  'OUTPUT FORMAT (strict, WhatsApp 1600 char limit):',\n  '\\uD83D\\uDFE2 Company \\u00B7 Role \\u00B7 stack hint \\u00B7 URL',\n  '\\uD83D\\uDFE1 Company \\u00B7 Role \\u00B7 URL',\n  '\\u26AA Company \\u00B7 Role \\u00B7 URL',\n  '',\n  'Final line:',\n  'TODAY: X roles (Y\\uD83D\\uDFE2 Z\\uD83D\\uDFE1 W\\u26AA) \\u2014 from [' + count + '] new listings',\n  '',\n  'No preamble. No sign-off. List only.',\n  '',\n  'JOBS TO EVALUATE:',\n  jobLines\n].join('\\n');\n\nreturn [{ json: { prompt, count } }];"
      },
      "id": "node-24",
      "name": "Batch Jobs for Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $vars.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 400, system: 'You are a job list formatter. Every job you receive has already been filtered and confirmed as a remote QA role. Your job is NOT to filter further. Score and display ALL jobs you receive. Never drop a job. Output only the formatted list, no explanations, no preamble, no questions.', messages: [{ role: 'user', content: $json.prompt }] }) }}",
        "options": {}
      },
      "id": "node-25",
      "name": "Claude Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 420]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst message = (response && response.content && response.content[0] && response.content[0].text || 'NO MATCHES TODAY').trim();\nreturn [{ json: { message } }];"
      },
      "id": "node-26",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2540, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"url\": \"https://remocate.app/jobs\", \"formats\": [\"markdown\"]}",
        "options": {}
      },
      "id": "node-27",
      "name": "Firecrawl - Remocate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst markdown = (response && response.data && response.data.markdown) || '';\nconst qaTerms = ['qa', 'quality', 'test', 'sdet', 'tester', 'automation'];\nconst jobs = [];\nconst seen = new Set();\n\nconst addJob = (title, url) => {\n  const clean = title.replace(/^[#\\-*>\\s]+/, '').trim();\n  if (!clean || !url || seen.has(url)) return;\n  seen.add(url);\n  jobs.push({ json: { title: clean, company: '', url, source: 'Remocate' } });\n};\n\n// Pass 1: markdown links where the link text itself contains a QA term\nconst linkRe = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/g;\nlet m;\nwhile ((m = linkRe.exec(markdown)) !== null) {\n  if (qaTerms.some(t => m[1].toLowerCase().includes(t))) addJob(m[1], m[2]);\n}\n\n// Pass 2: paragraph blocks that mention a QA term — grab any URL in the same block\nfor (const block of markdown.split(/\\n\\n+/)) {\n  if (!qaTerms.some(t => block.toLowerCase().includes(t))) continue;\n  const lm = /\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/.exec(block);\n  const um = /https?:\\/\\/\\S+/.exec(block);\n  const rawUrl = lm ? lm[2] : (um ? um[0] : '');\n  if (!rawUrl) continue;\n  const url = rawUrl.replace(/[)\\]>.,;]+$/, '');\n  const titleLine = block.split('\\n').find(l => qaTerms.some(t => l.toLowerCase().includes(t))) || '';\n  const title = titleLine.replace(/\\[[^\\]]*\\]\\([^\\)]*\\)/g, '').replace(/^[#\\-*>\\s]+/, '').trim();\n  if (title) addJob(title, url);\n}\n\nreturn jobs.length > 0 ? jobs : [{ json: { _empty: true } }];"
      },
      "id": "node-28",
      "name": "Parse Firecrawl - Remocate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"url\": \"https://testdevjobs.com/jobs\", \"formats\": [\"markdown\"]}",
        "options": {}
      },
      "id": "node-29",
      "name": "Firecrawl - TestDevJobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 620],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst markdown = (response && response.data && response.data.markdown) || '';\nconst qaTerms = ['qa', 'quality', 'test', 'sdet', 'tester', 'automation'];\nconst jobs = [];\nconst seen = new Set();\n\nconst addJob = (title, url) => {\n  const clean = title.replace(/^[#\\-*>\\s]+/, '').trim();\n  if (!clean || !url || seen.has(url)) return;\n  seen.add(url);\n  jobs.push({ json: { title: clean, company: '', url, source: 'TestDevJobs' } });\n};\n\n// Pass 1: markdown links where the link text itself contains a QA term\nconst linkRe = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/g;\nlet m;\nwhile ((m = linkRe.exec(markdown)) !== null) {\n  if (qaTerms.some(t => m[1].toLowerCase().includes(t))) addJob(m[1], m[2]);\n}\n\n// Pass 2: paragraph blocks that mention a QA term — grab any URL in the same block\nfor (const block of markdown.split(/\\n\\n+/)) {\n  if (!qaTerms.some(t => block.toLowerCase().includes(t))) continue;\n  const lm = /\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/.exec(block);\n  const um = /https?:\\/\\/\\S+/.exec(block);\n  const rawUrl = lm ? lm[2] : (um ? um[0] : '');\n  if (!rawUrl) continue;\n  const url = rawUrl.replace(/[)\\]>.,;]+$/, '');\n  const titleLine = block.split('\\n').find(l => qaTerms.some(t => l.toLowerCase().includes(t))) || '';\n  const title = titleLine.replace(/\\[[^\\]]*\\]\\([^\\)]*\\)/g, '').replace(/^[#\\-*>\\s]+/, '').trim();\n  if (title) addJob(title, url);\n}\n\nreturn jobs.length > 0 ? jobs : [{ json: { _empty: true } }];"
      },
      "id": "node-30",
      "name": "Parse Firecrawl - TestDevJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"url\": \"https://nodesk.co/remote-jobs\", \"formats\": [\"markdown\"]}",
        "options": {}
      },
      "id": "node-31",
      "name": "Firecrawl - Nodesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 760],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst markdown = (response && response.data && response.data.markdown) || '';\nconst qaTerms = ['qa', 'quality', 'test', 'sdet', 'tester', 'automation'];\nconst jobs = [];\nconst seen = new Set();\n\nconst addJob = (title, url) => {\n  const clean = title.replace(/^[#\\-*>\\s]+/, '').trim();\n  if (!clean || !url || seen.has(url)) return;\n  seen.add(url);\n  jobs.push({ json: { title: clean, company: '', url, source: 'Nodesk' } });\n};\n\n// Pass 1: markdown links where the link text itself contains a QA term\nconst linkRe = /\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/g;\nlet m;\nwhile ((m = linkRe.exec(markdown)) !== null) {\n  if (qaTerms.some(t => m[1].toLowerCase().includes(t))) addJob(m[1], m[2]);\n}\n\n// Pass 2: paragraph blocks that mention a QA term — grab any URL in the same block\nfor (const block of markdown.split(/\\n\\n+/)) {\n  if (!qaTerms.some(t => block.toLowerCase().includes(t))) continue;\n  const lm = /\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\)\\s]+)\\)/.exec(block);\n  const um = /https?:\\/\\/\\S+/.exec(block);\n  const rawUrl = lm ? lm[2] : (um ? um[0] : '');\n  if (!rawUrl) continue;\n  const url = rawUrl.replace(/[)\\]>.,;]+$/, '');\n  const titleLine = block.split('\\n').find(l => qaTerms.some(t => l.toLowerCase().includes(t))) || '';\n  const title = titleLine.replace(/\\[[^\\]]*\\]\\([^\\)]*\\)/g, '').replace(/^[#\\-*>\\s]+/, '').trim();\n  if (title) addJob(title, url);\n}\n\nreturn jobs.length > 0 ? jobs : [{ json: { _empty: true } }];"
      },
      "id": "node-32",
      "name": "Parse Firecrawl - Nodesk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 760]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst date = new Date().toLocaleDateString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' });\nconst esc = s => String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\nconst jobBlocks = items.map(item => {\n  const j = item.json;\n  const title = esc(j.title || 'Untitled');\n  const company = j.company ? ' — ' + esc(j.company) : '';\n  const source = ' — [' + esc(j.source || 'Unknown') + ']';\n  const url = j.url ? '<br><a href=' + JSON.stringify(j.url) + '>' + esc(j.url) + '</a>' : '';\n  return '<strong>' + title + '</strong>' + company + source + url;\n}).join('<hr>');\nconst subject = 'QA Jobs Today — ' + date + ' (' + count + ' roles)';\nconst body = '<h3>📋 QA Jobs Today (' + count + ')</h3>' + jobBlocks;\nreturn [{ json: { subject, body } }];"
      },
      "id": "node-33",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 300]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "to": "swairimu2002@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "htmlBody": true,
        "options": {}
      },
      "id": "node-34",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2300, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail Sandra"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {"node": "RSS Feed - WeWorkRemotely", "type": "main", "index": 0},
          {"node": "RSS Feed - Himalayas", "type": "main", "index": 0},
          {"node": "HTTP Request - Remotive", "type": "main", "index": 0},
          {"node": "Firecrawl - Remocate", "type": "main", "index": 0},
          {"node": "Firecrawl - TestDevJobs", "type": "main", "index": 0},
          {"node": "Firecrawl - Nodesk", "type": "main", "index": 0}
        ]
      ]
    },
    "RSS Feed - WeWorkRemotely": {
      "main": [[{"node": "Normalize - WeWorkRemotely", "type": "main", "index": 0}]]
    },
    "RSS Feed - Himalayas": {
      "main": [[{"node": "Normalize - Himalayas", "type": "main", "index": 0}]]
    },
    "HTTP Request - Remotive": {
      "main": [[{"node": "Normalize - Remotive", "type": "main", "index": 0}]]
    },
    "Firecrawl - Remocate": {
      "main": [[{"node": "Parse Firecrawl - Remocate", "type": "main", "index": 0}]]
    },
    "Firecrawl - TestDevJobs": {
      "main": [[{"node": "Parse Firecrawl - TestDevJobs", "type": "main", "index": 0}]]
    },
    "Firecrawl - Nodesk": {
      "main": [[{"node": "Parse Firecrawl - Nodesk", "type": "main", "index": 0}]]
    },
    "Normalize - WeWorkRemotely": {
      "main": [[{"node": "Merge RSS Sources", "type": "main", "index": 0}]]
    },
    "Normalize - Himalayas": {
      "main": [[{"node": "Merge RSS Sources", "type": "main", "index": 1}]]
    },
    "Normalize - Remotive": {
      "main": [[{"node": "Merge API and Remocate", "type": "main", "index": 0}]]
    },
    "Parse Firecrawl - Remocate": {
      "main": [[{"node": "Merge Sitemap Sources", "type": "main", "index": 0}]]
    },
    "Parse Firecrawl - TestDevJobs": {
      "main": [[{"node": "Merge Sitemap Sources", "type": "main", "index": 1}]]
    },
    "Parse Firecrawl - Nodesk": {
      "main": [[{"node": "Merge Sitemap Sources", "type": "main", "index": 2}]]
    },
    "Merge RSS Sources": {
      "main": [[{"node": "Merge Group 1", "type": "main", "index": 0}]]
    },
    "Merge API and Remocate": {
      "main": [[{"node": "Merge Group 1", "type": "main", "index": 1}]]
    },
    "Merge Group 1": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 0}]]
    },
    "Merge Sitemap Sources": {
      "main": [[{"node": "Merge All Sources", "type": "main", "index": 1}]]
    },
    "Merge All Sources": {
      "main": [[{"node": "Filter and Dedupe", "type": "main", "index": 0}]]
    },
    "Filter and Dedupe": {
      "main": [[{"node": "Limit 20 Jobs", "type": "main", "index": 0}]]
    },
    "Limit 20 Jobs": {
      "main": [[{"node": "Has Jobs?", "type": "main", "index": 0}]]
    },
    "Has Jobs?": {
      "main": [
        [{"node": "Format Message", "type": "main", "index": 0}],
        []
      ]
    },
    "Format Message": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "qa-job-alert-digest-v3"
}
